
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="/manager/static/css/style.css">
        <link rel="icon" type="image/jpeg" href="">
        <title>Club Penguin Plus | Panel</title>
    </head>
    <body>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown hidden-md-down">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Profile
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item">Logged in as <strong> {{ penguin.username }}</strong></a>
                        <a href="/manager" class="dropdown-item">Go To Panel</a>
                        <a href="/manager/password" class="dropdown-item">Change Password</a>
                        <a href="/manager/email" class="dropdown-item">Change Email</a>
                        <a href="/manager/logout" class="dropdown-item">
                            <div class="dropdown-divider"></div>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
        </div>
      </nav>
        <div class="alert alert-success" role="alert" style="display: none;">{{ success_message }}</div>
        <div class="alert alert-danger" role="alert" style="display: none;">{{ error_message }}</div>
      <div class="container text-center d-flex justify-content-center"> 
        <h4> Items </h4>
        <br>
      </div>
      <div class="container text-center d-flex justify-content-center">
        <input type="text" id="search" placeholder="Search">
        <button class="btn btn-primary" onclick="search()">Search</button>
      </div>
      <div class="nav nav-tabs" id="nav-tab" role="tablist" style="width: 80vh; margin: auto">
        {{ pageNumbers }}
        </div>
      <div class="container text-center d-flex justify-content-center"> 
        <table class="table table-bordered" style='width: 30vw;'>
          <thead>
            <tr>
              <th scope="col" style='font-size: 90%;'>Image</th>
              <th scope="col" style='font-size: 90%;'>Id</th>
              <th scope="col" style='font-size: 90%;'>Name</th>
              <th scope="col" style='font-size: 90%;'>Cost</th>
            </tr>
          </thead>
          <tbody id="itemtable">
            {{ items_table }}
          </tbody>
        </table>
      </div>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
      <script>
        const pages = {{ pages }} 

        function switchItemsPage(page) {
          document.getElementById('itemtable').innerHTML = pages[page]
        }

        document.getElementById('search').onkeydown = function(e){
          if(e.keyCode == 13){
            search()
          }
        }

        function search(args){
          document.location.href = document.location.href.split('?')[0] + '?' + document.getElementById('search').value
        }
      </script>
    </body>
</html>