<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Club Penguin Plus</title>
</head>

<body>
    <p>Hey PENGUIN_NAME,</p></br>
    <p>Someone just tried to log into your account from a new device. If this was you, please click <a href=2FA_LINK>here</a> to verify your IP address.</p></br>
    <p>If that link didn't work, you can copy and paste this into your browser: 2FA_LINK</p></br></br>
    <p>If this wasn't you, please change your password, as someone else may have used it to login to your account.</p></br>
    <p>We always recommend not reusing passwords for other sites, but if your Club Penguin Plus password is the same as your password to another site, please also change those passwords.</p>
</body>

</html>