<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Club Penguin Plus</title>
</head>

<body>
    <p>Hey PENGUIN_NAME,</p></br>
    <p>Someone just requested to reset your password. If this was you, please click <a href=RESET_LINK>here</a> to choose a new password.</p></br>
    <p>If that link didn't work, you can copy and paste this into your browser: RESET_LINK</p></br></br>
    <p>If this wasn't you, it is safe to ignore and delete this email.</p></br>
	<p>Please <strong>do not</strong> share this link with anyone! They will be able to change your password and log in to your account!<p>
    <p>If you keep getting these emails, but you aren't requesting them, please contact support.</p>
</body>

</html>